/* .my-heading{
    background-color: bisque;
    text-decoration: underline;
}
.emphasis{
    font-style: italic;
} */

h2{
    color: rgb(0, 0, 0);
}
button{
    background-color: rgb(101, 255, 101);
    color: rgb(0, 0, 0);
    
}